<!doctype html>
<html ng-app="searchApp">
    <head>
        <title>Music Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            #titleDiv { padding: 100px 0 30px 0; }
            #navDiv { padding-top: 30px; }
            #textDiv { padding-bottom: 10px; }
            .status { padding: 10px 0; }
            .result-row { margin-top: 8px; margin-bottom: 8px; }
        </style>
        <script data-require="lodash.js@2.4.1" data-semver="2.4.1" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="js/lodash.underscore.js"></script>
        <script src="js/core.js"></script>
    </head>
    <body ng-controller="mainController">
        <div class="container-fluid">
            <form ng-submit="search()">
                <div id="titleDiv" class="row text-center">
                    <h1>Music Search</h1>
                </div>
                <div id="textDiv" class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                        <div class="input-group">
                            <input type="text" class="form-control" size="40" ng-model="formData.query">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!--<div id="textDiv" class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                        <div class="input-group">
                            <input type="file" class="form-control" ng-model="formData.midiFile">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Upload MIDI File</button>
                            </span>
                        </div>
                    </div>
                </div>-->
                <div id="argDiv" class="row text-center">
                    <h3>Arguments</h3>
                </div>
                <div id="textDiv" class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                        <div class="input-group">
                            <span class="input-group-addon">Shift:</span>
                            <input type="text" class="form-control" placeholder="0" ng-model="formData.shift">
                        </div>
                    </div>
                </div>
            </form>
            <!--<div id="navDiv" class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <h1 style="margin-top: -6px; margin-bottom: 10px;">
                        Music Search
                    </h1>
                    <hr>
                </div>
            </div>-->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <hr>
                </div>
            </div>
            <div class="row" ng-if="errorText">
                <div class="col-sm-6 col-sm-offset-3">
                    <p class="status bg-danger">{{ errorText }}</p>
                </div>
            </div>
            <div class="panel-group row" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="panel panel-default" ng-repeat="result in results">
                        <div class="panel-heading" role="tab" id="heading{{$index}}">
                            <h4 class="panel-title">
                                <a href="#collapse{{$index}}" role="button" type="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapse{{$index}}">
                                    <div class="pull-left">
                                        {{ result.title }} (Channel {{ result.channel }})
                                    </div>
                                    <div class="pull-right">
                                        Score: {{ result.midi_score }}
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$index}}">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="window in result.windows">
                                    <table>
                                        <tr>
                                            <td>query:  </td>
                                            <td>{{ window.query_notes }} ({{ window.pos[0] }} ~ {{ window.pos[0] + window.pos[2] - 1 }})</td>
                                        </tr>
                                        <tr>
                                            <td>midi:  </td>
                                            <td>{{ window.midi_notes }} ({{ window.pos[1] }} ~ {{ window.pos[1] + window.pos[2] - 1 }})</td>
                                        </tr>
                                    </table>
                                    <p></p>
                                    <p>length: {{ window.pos[2] }} ~ score: {{ window.score }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="delay">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <p class="status bg-info">{{ totalItems }} results ({{ delay }} seconds)</p>
                </div>
            </div>
        </div>
    </body>
</html>
